/* navbar */

.navbar {
  background-color: #35a6ff;
}
#navbarNav a {
  color: white;
  font-size: 1.5rem;
  float: right;
}
.nav-link {
  margin-left: 60px;
  margin-right: 60px;
}

/* header */
.header {
  /* background-color:#4bed89; */
  height: 480px;
}
.imagephoto {
  height: 35%;
  margin-top: 3%;
}
.text {
  font-family: "Rubik Mono One", sans-serif;
  text-align: center;
  font-size: 80px;
  background-position: center;
  background-size: 130%;
  background-image: linear-gradient(#ffffff, #35a6ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 7px;
}
/* container */
.cnt-title {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.card {
  text-align: center;
  justify-content: center;
  margin-left:23%;
  
}
/* .row{
    text-align: left;
    justify-content:center;
  } */
.row{
  text-align: left;
  justify-content:flex-end;
}
h2 {
  text-align: center;
  font-family: "Lucida Sans";
  color: #6fff84;
}
#carouselExampleControls{
    width: 50%;
    margin-left: 25%
}
